<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Welcome! Neovision Consulting</title>
　　　　{% load static %}
        <link rel="stylesheet" href="{% static "css/reset.css" %}">
        <link rel="stylesheet" href="{% static "css/nvc.css" %}">
    </head>
    <body>
        <div id="container">
        <header>
            <ul id="head-menu">
            	<ul id="head-menu-1">
                	<li><a href="https://hellodjango-nicoishizuka.c9users.io:8080/form_user_login/form_user_login.html">ユーザー管理・ログイン</a></li>
                </ul>
                <ul id="head-menu-2">
                	<li><a href="https://hellodjango-nicoishizuka.c9users.io:8080/form_time_login/form_time_login.html">タイムレコーダー・ログイン</a></li>
                </ul>
                <ul id="head-menu-3">
                	<li><a href="http://python.systems/">TOP画面に戻る</a></li>
                </ul>  
            </ul>
        </header>
        <div id="side-bar">
        <side>
        </side>
        <footer>
            <table>
            	<ul id="main-menu">
            		<ul id="main-menu-1">
                		<li>自己紹介</a></li>
                	</ul>
                	<tr>
                		<ul id="main-s1">
            				<td>■NAME</td>
            			</ul>
            			<ul id="main-s2">
            				<td>M.I</td>
            			</ul>	
            		</tr>
            		<tr>
            		    <ul id="main-s1">
            		    	<td>■氏名</td> 
            			</ul>
            			<ul id="main-s2">
               				<td>M.I</td>
               			</ul>
               		</tr>
               		<tr>
            		    <ul id="main-s1">
            		    	<td>■現在は？</td> 
            			</ul>
            			<ul id="main-s2">
               				<td>Python＆Django学習中です。</td>
               			</ul>
               		</tr>
               		<tr>
            		    <ul id="main-s1">
            		    	<td>■What are you doing now?</td> 
            			</ul>
            			<ul id="main-s2">
               				<td>Python & Django is in learning.</td>
               			</ul>
               		</tr>
               		<tr>
            		    <ul id="main-s1">
            		    	<td>■Pythonとは?</td> 
            			</ul>
            			<ul id="main-s2">
               				<td>Google やYoutube、Facebook、NASA、JAXAなどでも採用されている信頼性の高いプログラム言語です。</td>
               			</ul>
               		</tr>
               		<tr>
               		<tr>
            		    <ul id="main-s1">
            		    	<td>■What is Python?</td> 
            			</ul>
            			<ul id="main-s2">
               				<td>Python is a high programming language of reliability that have been adopted by Google and YouTube and Facebook, NASA and JAXA.</td>
               			</ul>
               		</tr>
               		<tr>
            		    <ul id="main-s1">
            		    	<td>■その２</td> 
            			</ul>
            			<ul id="main-s2">
               				<td>Pythonの名前の由来は、イギリスのテレビ局 BBC が製作したコメディ番組「空飛ぶモンティ・パイソン」から来ています。</td>
               			</ul>
               		</tr>
               		<tr>
            		    <ul id="main-s1">
            		    	<td>■Part 2</td> 
            			</ul>
            			<ul id="main-s2">
               				<td>Derived from Python's name comes from the comedy show "Monty Python's Flying Circus," the British TV station BBC has produced.</td>
               			</ul>
               		</tr>
               		<tr>
            		    <ul id="main-s1">
            		    	<td>■その３</td> 
            			</ul>
            			<ul id="main-s2">
               				<td>Pythonは、膨大なBIGDATAの分析、沢山の企業の分析、市場需要（ニーズ）の予想、オンライン（機械）学習、人工知能などにも利用されております。</td>
               			</ul>
               		</tr>
               		<tr>
            		    <ul id="main-s1">
            		    	<td>■Part ３</td> 
            			</ul>
            			<ul id="main-s2">
               				<td>Python is, the analysis of huge BIGDATA, analysis of a lot of companies, stock price forecasts, online (machine) learning, also be used for, such as artificial intelligence.</td>
               			</ul>
               		</tr>
               		<tr>
           		     	<ul id="main-s1">
                			<td></td>
                		</ul>
                		<ul id="main-s2">
                			<td></td>
                		</ul>	
               		</tr>
                </ul>	
            </table>
            </ul>
        </footer>
    </body>
</html>