<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Welcome! Neovision Consulting</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "css/reset.css" %}">
        <link rel="stylesheet" href="{% static "css/nvc.css" %}">
    </head>
    <body>
        <div id="container">
        <header>
            <ul id="head-menu">
            	<ul id="head-menu-1">
                	<li><a href="https://hellodjango-nicoishizuka.c9users.io:8080/form_user_login/form_user_login.html">ユーザー管理ログイン</a></li>
                </ul>
                <ul id="head-menu-2">
                	<li><a href="https://hellodjango-nicoishizuka.c9users.io:8080/form_time_login/form_time_login.html">タイムレコーダーログイン</a></li>
                </ul>
                <ul id="head-menu-3">
                	<li><a href="http://python.systems/">TOP画面に戻る</a></li>
                </ul>          
            </ul>
        </header>
        <div id="side-bar">
        <side>
        </side>
        <footer>
            <table>
            	<ul id="main-menu">
            		<ul id="main-menu-1">
                		<li><a href="#">タイムレコーダー・ログイン</a></li>
                	</ul>
                	<tr>
                		<ul id="main-s1">
            				<td>■電話番号（01201234567）</td>
            			</ul>
            		    <ul id="main-s2">
            		    	<td><input type="text" id="tlephone" value="01201234567"></td>
            		    </ul>
            		</tr>
               		<tr>
            		    <ul id="main-s1">
            		    	<td>■日付{{ current_date }}</td> 
            			</ul>
            			<ul id="main-s2">
               				<td><input type="text" id="date" value="{{ current_date }}"></td> 
               			</ul>
               		</tr>
               		<tr>
            		    <ul id="main-s1">
            		    	<td>■パスワード（１２３４）</td> 
            			</ul>
            			<ul id="main-s2">
               				<td><input type="text" id="password" value="1234"></td> 
               			</ul>
               			<form>
                            <td><input type="button" onClick="location.href='https://hellodjango-nicoishizuka.c9users.io:8080/form_time/form_time.html'" value="ログイン"></td>
                        </form>
               		</tr>
               		
                </ul>	
            </table>
        </footer>
    </body>
</html>